/* Empty. Add your own CSS if you like */
.login{
  /*width: 100%;*/
  padding: 7.5%;
  position: absolute;
  top: 20%;
  left: 0; right: 0;
  margin: 5%;
  background-color: #FDF3E7;
  border-radius: 5px;
}

.facebook-button{
  background-color: #3b5998;
  color: white;
}

body{
  background-color: #C63D0F;
}
